[submodule "online-boutique"]
	path = online-boutique
	url = https://github.com/eti-tme-org/online-boutique.git
[submodule "scans"]
	path = cloudsploit
	url = https://github.com/cloudsploit/scans
[submodule "cloud-infrastructure"]
	path = cloud-infrastructure
	url = https://github.com/panoptica-demo/panoptica-demo-data.git
